/.idea

/.vscode

NocServe/.idea

NocServe/.vscode

NocServe/pkg

NocServe/src/golang.org

NocServe/src/sourcegraph.com

NocServe/src/*.debug

NocServe/src/github.com

NocServe/bin

NocServe/src/debug
