// input{
//     margin-top: 10px;
//     margin-right:10px;
//     border-radius: 10px;
// }

// .btn1{
//     line-height:35px;
//     height:40px;
//     width:60px;
//     margin-bottom:10px;
//     background:rgb(226, 219, 247);
// }

// .btn2{
//     line-height:35px;
//     text-align:center;
//     height:40px;
//     width:120px;
//     margin-top:10px;
//     margin-bottom:10px;
//     margin-left:10px;
//     background:rgb(226, 219, 247);
// }
.btn-primary {
    width:90px;
    color: #fff;
    background-color: #6f5499;
    border-color: #6f5499;
  }
.card {
    width : 900px; 
    border : 0;
    padding : 15px;
    font-family : _GB2312 KaiTi_GB2312;
  }

.tab1{
    // border-bottom: 1px;
    width:60%;
    margin-left: 10%;
    margin-top: 4%;
    border-collapse: separate;
    border-radius: 2em;
    background-color: #f3e9ff;
    position : center;
    table-layout:fixed;
}

.tab2{
    width : 100%;
}

.td{
    margin-top: 10px;
}

.divbtn{
    margin-top: 10px;
    margin-right: 50px;
}
