<!-- left -->
<div style="

height: 100%;
    padding: 71px 10px;
    width: 233.3px;
    background: #f7efef;
    float: left;
    position: fixed;
    left: 0;
    z-index:99;
    " >



  <ul class="list-group" *ngIf="management==false">
    <li class="list-group-item d-flex justify-content-between align-items-center" (click)="GOTO(1)">
      活动列表
      <span class="badge badge-primary badge-pill" style="background: #6f5499;">{{total}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" (click)="GOTO(2)">
      发布活动
      <span class="badge badge-primary badge-pill" style="background: #6f5499;"></span>
    </li>

  </ul>
  <ul class="list-group" *ngIf="management==true">
    <li class="list-group-item d-flex justify-content-between align-items-center" >
      人员列表
      <span class="badge badge-primary badge-pill" style="background: #6f5499;"></span>
    </li>
  </ul>



</div>

