<!-- header -->
<div style="z-index:9999999;position:fixed;top:0;left:0;height:55px; width:100% ;background:#6f5499;padding:10">
        <div style="width:120px;height:55px;float:left;margin-left:85px;margin-right:10px;line-height:55px;text-align:center;color:white;font-size:20px;font-weight:900
        ">SchoolNoc</div>
        <div class="navButton" style="width:100px;height:55px;float:left;margin-left:5px;line-height:55px;text-align:center;color:white;
        " (click)="GOTO(3)">活动管理</div>
        <div class="navButton" style="width:100px;height:55px;float:left;margin-left:5px;;line-height:55px;text-align:center;color:white;
         " (click)="GOTO(4)">人员管理</div>


        <div style="width:208px;height:55px;line-height:55px;text-align:center;color:white;position:absolute;
        top:0;right:10%;
        ">欢迎您,{{Name}}</div>
        <div class="quitButton" style="width:60px;height:55px;line-height:55px;text-align:center;color:white;position:absolute;
        top:0;right:5%;
        " (click)="GOTO(5)">退出</div>
      </div>
