<div style="
width:100%;
text-align:center;
">

  <div style="height:30px;">
  </div>
  <p>
    校园NOC·公众号
  </p>
  <!--按钮 -->
  <div style="
		font-size:14px;
		">

    <div style="
		margin-top:10px;
		background-color:
		orange;
		color:white;
		height:45px;
		line-height:45px;
		width:80%;
		display:inline-block;
		border-radius:5px;

		" (click)="GotoActivityPreview()">
      活动预告
    </div>
    <div style="
		margin-top:10px;
		background-color:
		orange;
		color:white;
		height:45px;
		line-height:45px;
		width:80%;
		display:inline-block;
		border-radius:5px;
		" (click)="GotoActivityReview()">
      活动回顾
    </div>
    <div style="
		margin-top:10px;
		background-color:
		orange;
		color:white;
		height:45px;
		line-height:45px;
		width:80%;
		display:inline-block;
		border-radius:5px;
		" (click)="GotoActivityIng()">
      活动列表
    </div>
    <div style="
				margin-top:10px;
				background-color:
				orange;
				color:white;
				height:45px;
				line-height:45px;
				width:80%;
				display:inline-block;
				border-radius:5px;
				" (click)="GotoParticipate()">
      我的参赛活动
    </div >
  <div (click)="openGetCodeURL()" style="
						margin-top:10px;
						background-color:
						orange;
						color:white;
						height:45px;
						line-height:45px;
						width:80%;
						display:inline-block;
						border-radius:5px;
						">
    个人信息
	</div>
<!-- -->
  </div>
</div>

